.header-bg {
  background-color: #fe9319;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  margin-right: 35px;
  font-weight: 500;
}

.nav-link:hover {
  color: #e2e3e9 !important;
}

.dropdown-menu {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.ms{
  margin-left: 100px;
}
.me{
  margin-left: 350px;
}

