
.product-container {
  padding: 20px;
  background-color: #f9f9f9; 
}
.product-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


.card .btn-primary {
  background-color: #007bff;
  border: none;
  width: 100%;
  font-weight: bold;
}

.card .btn-primary:hover {
  background-color: #0056b3;
}
